/* CSS HEX */
:root {
    --licorice: #1a0b17ff;
    --dark-purple: #2d162cff;
    /* --russian-violet: #412752ff; */
    --finn: #683a68ff;
    --african-violet: #9d74a6ff;
    --pink-lavender: #cea9b9ff;
    --pale-dogwood: #ffddcbff;
}

* {
    margin: 0;
    font-family: "Ubuntu Mono";
}

body {
    background-color: var(--licorice);
    
    color: #FFDDCB;
}

a {
    color: #FFDDCB;
    text-decoration: none;
}


/* ========================== Header Section ========================== */

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding-inline: 5vw;
    
}

#header-title {
    font-size: 24px;
    font-weight: 900;
}

#main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 24rem;
}

#main-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 5vw;
    font-size: 140%;
}

/* ========================== SaE Section ========================== */

#SaE-main {
    display: flex;
    flex-direction: row;
    padding: 10vh 5vw 10vh 5vw;
    height: 50vh;
    background-color: var(--dark-purple);
    box-shadow: 0px 0px 20px #00000060;
    /* border-radius: 0 0 20px 20px; */
}

#SaE-description {
    display: flex;
    flex-direction: column;
    margin-right: 50vw;
    justify-content: center;
    gap: 1rem;
}

#SaE-description h1 {
    font-size: 35px;
}

#SaE-description p {
    color: var(--pink-lavender);
    font-weight: 100;
}

#SaE-goto {
    padding-top: 2rem;
}

#SaE-goto a {
    border: var(--finn) 2px solid;
    padding: 0.5rem 1rem 0.6rem 1rem;
    border-radius: 50px;
    font-size: 115%;
}

#SaE-goto a:hover {
    background-color: var(--finn);
}


#liste {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 5rem 0 5rem;
    gap: 1rem;
}

#liste h1 {
    color: var(--pink-lavender);
}

#liste p {
    color: var(--african-violet);
    font-weight: 100;
    margin-right: 50vw;
}

#SaE-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

#SaE-carousel::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    background-color: #292431;
    height: 300px;
    width: 250px;
    border-radius: 20px;
    scroll-snap-align: center;
    /* border-style: solid;
    border-width: 2px; */
    background-image: linear-gradient(-45deg, var(--dark-purple), var(--finn));
    flex-shrink: 0;
    transition: ease-out 0.2s;
}

.carousel-item:hover {
    box-shadow: inset 0px 0px 20px 0 var(--licorice);
}

#SaE-11 {
    /* background-image: linear-gradient(-45deg, #572a47, #fc7981);
    border-color: #fc798d; */
}

#SaE-12 {
    /* background-image: linear-gradient(-45deg, #344f82, #8158a3);
    border-color: #8158a3; */
}

#SaE-14 {
    /* background-image: linear-gradient(-45deg, #396764, #8394bd);
    border-color: #8394bd; */
}
